.venv/
venv/
env/

*.pyc
*.pyo
*.pyd

build/
dist/
*.egg-info/
*.egg
wheelhouse/

.pytest_cache/

.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml

.vscode/
.idea/
.ruff_cache/

*.sublime-workspace
*.sublime-project

.DS_Store
.AppleDouble
.LSOverride

__pycache__

Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini

*.txt
*.log
*.json

.env
.env.*
!.env.example

.uv_cache/